div
{
    position: relative;
}

button
{
    height: 25px;
    width: 100px;
    background-color: #fff;
    border-radius: 8px;
    letter-spacing: 1px;
    font-family: Montserrat,sans-serif;
    font-weight: 700;
    font-size: 10px;
    transition: .15s ease-in-out;
    cursor: pointer;
    color: #000000;
    border: 1px solid #07ec8d;
    outline: 0.15em solid transparent;
    outline-offset: 2px;
}

span
{
    height: 12px;
    width: 12px;
    position: absolute;
    top: 4px;
    right: 25px;
    fill: #000000;
    pointer-events: none;
    transition: .2s ease-in-out;
    visibility: hidden;
    opacity: 0;
}

button:hover
{
    box-shadow: -1px -1px 10px 6px rgba(7,236,141,0.5);
    padding-right: 15px;
    background-color: #07ec8d;
    color: #fff; 
}

button:hover ~ span
{
    right: 22px;
    visibility: visible;
    opacity: 1;
    fill: #fff;
}

button:focus
{
    outline:0.15em solid #00ff55;
}